.dir {
    margin: 0 auto;
    margin-bottom: 15px;

}

.asis {
    margin: 0 auto;
    margin-bottom: 15px;
}

.manager {
    margin: 0 auto;
    margin-bottom: 15px;
}

.container-oper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-ktz, .container-elec {
    border: 4px solid black;
    width: 250px;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.container-worker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container-crawler, .container-elec {
    border: 4px solid black;
    width: 250px;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    display: inline-block;
    vertical-align: top;
}

.small-photo {
    width: 50px;
    height: 50px;

}