{% extends 'work_site/base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'site:add_employ' %}">add employer</a>
<table class="employ-list" border="1">
	<caption>Table of employers list</caption>
	<tr>
		<th>fio</th>
		<th>job</th>
		<th>date of employment</th>
		<th>salary</th>
	</tr>
	{% for director in directors %}
		<tr>
			<td>{{ director.fio }} - <a href="{% url 'site:edit_employ' director.pk %}">edit employ</a><hr></td>
			<td>{{ director.job }}<hr></td>
			<td>{{ director.employment_date }}<hr></td><td>{{ director.salary }}<hr></td>

		</tr>

	{% endfor %}

</table>
{% endblock content %}