{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'work_site/css/style.css' %}" type="text/css">
		<title>Employ</title>
	</head>
	<body>
			<div class="container-lead">
				{% for dir in directors %}
					<p>{{ dir.fio }} - <span class="profession">{{ dir.job }}</span></p>
				{% endfor %}
			</div>
			<p>&#9658;</p>
			<div class="container-lead">
				{% for asi in asis %}
					<p>{{ asi.fio }} - <span class="profession">{{ asi.job }}</span></p>
				{% endfor %}
			</div>
			<p>&#9658;</p>
			<div class="container-lead">
				{% for m in manager %}
					<p>{{ m.fio }} - <span class="profession">{{ m.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-ktz">
				{% for k in operktz %}
				<p>{{ k.fio }} - <span class="profession">{{ k.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-operelec">
				{% for e in operelec %}
				<p>{{ e.fio }} - <span class="profession">{{ e.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-crawler">
				{% for c in crawler %}
				<p>{{ c.fio }} - <span class="profession">{{ c.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-elec">
				{% for ele in elec %}
				<p>{{ ele.fio }} - <span class="profession">{{ ele.job }}</span></p>
				{% endfor %}
			</div>
	</body>
</html>