{% extends 'work_site/base.html' %}
{% load static %}
{% block content %}
		<div class="card dir" style="width: 18rem;">
		  <div class="card-header text-bg-dark p-3">
		    Director
		  </div>
		  <ul class="list-group list-group-flush">
				{% for dir in directors %}
		      <li class="list-group-item text-bg-warning p-3">{{ dir.fio }} - <span class="profession">{{ dir.job }}</span></li>
			  {% endfor %}
		  </ul>
		</div>
		<div class="card asis" style="width: 18rem;">
		  <div class="card-header text-bg-dark p-3">
		    AssociateDir
		  </div>
		  <ul class="list-group list-group-flush">
			  {% for asi in asis %}
		    <li class="list-group-item text-bg-warning p-3">{{ asi.fio }} - <span class="profession">{{ asi.job }}</span></li>
				{% endfor %}
		  </ul>
		</div>
		<div class="card manager" style="width: 18rem;">
		  <div class="card-header text-bg-dark p-3">
		    Manager
		  </div>
		  <ul class="list-group list-group-flush">
				{% for m in manager %}
		    <li class="list-group-item text-bg-warning p-3">{{ m.fio }} - <span class="profession">{{ m.job }}</li>
				{% endfor %}
		  </ul>
		</div>

			<div class="arrow1">
			</div>
		<div class="container-oper">
			<div class="container-ktz">
				<h1>OperatorsKTZ</h1>
				{% for k in operktz %}
				<p>{{ k.fio }} - <span class="profession">{{ k.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-elec">
				<h1>OperatorsElec</h1>
				{% for e in operelec %}
					<p>{{ e.fio }} - <span class="profession">{{ e.job }}</span></p>
				{% endfor %}
			</div>
		</div>
		<div class="container-worker">
			<div class="container-crawler">
				<h1>Crawler</h1>
				{% for c in crawler %}
					<p>{{ c.fio }} - <span class="profession">{{ c.job }}</span></p>
				{% endfor %}
			</div>
			<div class="container-elec">
				<h1>Electric</h1>
				{% for ele in elec %}
					<p>{{ ele.fio }} - <span class="profession">{{ ele.job }}</span></p>
				{% endfor %}
			</div>
		</div>
{% endblock content %}